@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.login-page {
  .login-page-container {
    @include form;
    background-color: $form-bg;

    .login-page-title {
      @include title;
    }

    .error-message {
      @include errorMessage;
    }

    .login-icon-container {
      width: 12%;
      margin: auto;
    }
  }
}
