@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.bookshelf-modal {
  @include modal;

  .bookshelf-popup-box {
    width: 70%;
    @include popupBox;

    padding: 2rem;

    .close-modal {
      @include closeModal;
    }

    .bookshelf-form-title {
      @include subTitle;
    }

    .form-map-wrapper {
      display: grid;
      grid-template-columns: 60% 40%;
    }

    .bookshelf-form {
      @include flexColumn;

      .input-containers-wrapper {
        @include twoGridTemplateEqualColumns;
      }

      .input-container {
        @include inputContainer;

        .input-icon {
          @include inputIcon;
        }

        .input-field {
          color: $black;
          @include inputField;
        }

        .input-label {
          @include inputLabel;
        }

        .input-highlight {
          @include inputHighlight;
        }
      }

      .bookshelf-btn {
        @include button1;
      }
    }
  }
}
