@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.user-profile-page {
  .user-profile-page-container {
    position: relative;
    .user-profile-page-title {
      @include title;
      background-color: #dfe7fd;
      padding: 1.5rem;
    }

    .image-container {
      position: absolute;
      top: 1rem;
      left: 1rem;
      .user-image {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .user-profile-wrapper {
      display: grid;
      grid-template-columns: 15% 83%;
      column-gap: 1rem;

      .sidebar {
        background-color: #eaf4f4;
        @include shadow2;
        margin-top: 1rem;
      }

      .main {
        background-color: #f8f9fa;
        @include shadow2;
        margin-top: 1rem;
      }
    }
  }
}
